body{
margin: 0;
padding: 0;
background-color: hsl(210, 46%, 95%);
font-family: 'Manrope', sans-serif;
justify-content: center;
align-items: center;
position: relative;  
}
.cont-header{
width: auto;
height:auto;
margin-top: 50px;
margin-bottom: 50px;
margin-left: 20px;
margin-right: 20px;
border-radius: 10px;
background-color: white;
}

#background{
object-fit: cover;
width: 100%;
height: 210px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

#avatar{
object-fit: cover;
width: 44px;
height: 44px;
border-radius: 50%;
padding: 0px;
margin-top: -11px;

}

.txt-header{
padding-left: 25px;
padding-right: 25px;

}

.txt-header h1{
font-size: 15px;
}

.txt-header p{
color: silver;
font-size: 13px;
margin-bottom: 30px;
}

.detail{
padding:0px;
display: flex;
}

.detail h2{
font-size: 12px;
margin-top: -5px;
padding-left:12px;
}

.detail p{
color: silver;
font-size: 12px;
margin-top: -8px;
padding-left:12px;
}

.attribution{
margin: 0%;
padding: 0%;
}

 .share{
display: flex;
}
.modal{
position: absolute;
bottom: 0;
background-color:hsl(217, 19%, 35%);
width: auto;
height:auto;
padding: 0%;
margin-bottom: 65px;
border-radius: 0 0 15px 15px;
display: none;
}
.social_container{
justify-content: space-between;
}

.social_container_text{
text-transform: uppercase;
letter-spacing: 3px;
font-weight: 500;
color: hsl(212, 23%, 69%);
}

.social_container_list{
padding: 5px 0 0 10px;
list-style: none;
width: 35%;
justify-content: space-between;
}

/*.container_share{
    position: absolute;
    right: 30px;
    background-color: hsl(214, 17%, 51%); 
}*/

.container_share:hover{
cursor: pointer;
} 
.show{
display: flex;
}
.align{
display: flex;
align-items: center;
justify-content: center;
}
.share-button {
background: url(../images/icon-share.svg);
background-color:  rgb(252, 246, 246);
background-repeat: no-repeat;
background-size: auto; 
background-position: center;
border: none;
width: 30px;
height: 30px;
border-radius: 50%;
margin-bottom: 28px;
margin-left: 60px;
position: relative;
}

.share-button-white {
background: url(../images/icon-share-white.svg);
background-color:  hsl(214, 17%, 51%);
background-repeat: no-repeat;
background-size: auto; 
background-position: center;
border: none;
width: 30px;
height: 30px;
border-radius: 50%;
margin-top: 17px;
margin-left: 56px;
margin-top: 20px;
}

/*@media screen and (max-device-width : 400px) {

    #sidebar{
        display:none;
        }

            #menu{
           text-align:center;
           }



}*/