body{
margin: 0;
padding: 0;
background-color: hsl(210, 46%, 95%);
font-family: 'Manrope', sans-serif;
position: relative;  
}
.cont-header{
width: auto;
height:auto;
margin-top: 50px;
margin-bottom: 50px;
margin-left: 20px;
margin-right: 20px;
border-radius: 10px;
background-color: white;

}

#background{
object-fit: cover;
width: 100%;
height: 210px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;

}

#avatar{
object-fit: cover;
width: 44px;
height: 44px;
border-radius: 50%;
padding: 0px;
margin-top: -11px;

}

.txt-header{
padding-left: 25px;
padding-right: 25px;

}

.txt-header h1{
font-size: 15px;
margin-top: -3px;
}

.txt-header p{
color: silver;
font-size: 13px;
margin-bottom: 30px;
}

.detail{
    display: flex;
}

/*.detail-person{
   
    width: 85%;
    justify-content: space-between;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    height: 15%;
}*/
.detail h2{
font-size: 12px;
margin-top: -5px;
padding-left:12px;

}

.detail p{
color: silver;
font-size: 12px;
padding-left:12px;
margin-top: -10px;
}

.attribution{
margin: 0%;
padding: 0%;
}

 .share{
display: flex;
}
.social_person{
    margin: 0%;
    padding: 0%;
   
}
.modal{
position: absolute;
bottom: 0;
background-color:hsl(217, 19%, 35%);
width: auto;
height:auto;
padding: 0%;
margin-bottom: 65px;
border-radius: 0 0 15px 15px;
display: none;
}
.social_container{
    padding-left: 30px;
    height: 100%;
    justify-content: initial;
}

.social_container_text{
text-transform: uppercase;
letter-spacing: 3px;
font-weight: 500;
color: hsl(212, 23%, 69%);
}

.social_container_list{
padding: 5px 0 0 10px;
list-style: none;
width: 35%;
justify-content: space-between;
}


/*.container_share{
    position: absolute;
    right: 30px;
    background-color: hsl(214, 17%, 51%); 
}
.target-person{
    text-align: end;
    width: 100%;
    height:100%;
}*/
.container_share:hover{
cursor: pointer;
} 
.show{
display: flex;
}
.align{
display: flex;
align-items: center;
justify-content: center;
}

.share-button {
background: url(../images/icon-share.svg);
background-color:  rgb(252, 246, 246);
background-repeat: no-repeat;
background-size: auto; 
background-position: center;
border: none;
width: 30px;
height: 30px;
border-radius: 50%;
margin-bottom: 28px;



}

.share-button-white {
background: url(../images/icon-share-white.svg);
background-color:  hsl(214, 17%, 51%);
background-repeat: no-repeat;
background-size: auto; 
background-position: center;
border: none;
width: 30px;
height: 30px;
border-radius: 50%;
margin-top: 17px;
margin-left: 56px;
margin-top: 20px;
}

/*@media screen and (max-device-width : 400px) {

    #sidebar{
        display:none;
        }

            #menu{
           text-align:center;
           }



}*/